@import "tailwindcss";

@theme inline {
  --color-primary: #0B2046;
  --color-accent: #E61C38;
  --color-light: #F8F9FA;
  
  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}

:root {
  --background: #ffffff;
  --foreground: #374151; /* gray-700 */
}

body {
  background: var(--background);
  color: var(--foreground);
}

.hero-pattern {
  background-image: linear-gradient(to right, rgba(11, 32, 70, 0.9), rgba(11, 32, 70, 0.7)), url('https://images.unsplash.com/photo-1523050854058-8df90110c9f1?q=80&w=2070&auto=format&fit=crop');
  background-size: cover;
  background-position: center;
}
